.container {
  max-width: 100%;
  margin: 0 auto;

  @include adaptive-for-phone {
    width: 280px;
  }

  @include adaptive-for-tablet {
    width: 618px;
  }

  @include adaptive-for-desktop {
    width: 882px;
  }
}
