<footer class="footer">
    <div class="container">
        <div class="footer-container">
            <div class="footer-line1">
                <p>© 2020 | All Rights Reserved |</p>
            </div>
            <div class="footer-line2">
                <p>Developed with</p>
                <svg class="footer-icon" width="24" height="24">
                    <use href="./images/sprite.svg#icon-heart"></use>
                </svg>
                <p>by <span class="footer-active-text" data-action="open-modal">GoIT Students</span></p>
            </div>
        </div>
    </div>
</footer>

<!-- this should be in modal.html but it does not work there -->
	<div class="footer-backdrop">
		<div class="footer-modal">
			<button type="button" class="close-modal-button" data-action="close-modal">Close</button>
			<p class="team-members-title">TEAM TRANSFORMERS</p>
            <div class="team-members-data">  <!--this is made invisible in css-->
                <img src="./images/team/IgorKlyopovMini.png" alt="Igor Klyopov" git="e-mail">
                <img src="./images/team/IgorKlyopovMini.png" alt="Misha Safaridze " git="Portofranko36@gmail.com">
                <img src="./images/team/IgorKlyopovMini.png" alt="Mariia Ros" git="rosm0099@gmail.com">
                <img src="./images/team/IgorKlyopovMini.png" alt="Світлана Вареник" git="Lightlawn@gmail.com">
                <img src="./images/team/IgorKlyopovMini.png" alt="Ivan Sinabdeev" git="ivansinabdeev@gmail.com">
                <img src="./images/team/IgorKlyopovMini.png" alt="Julija Faltina" git="Dashinicha@gmail.com">
                <img src="./images/team/IgorKlyopovMini.png" alt="Yevhenii Yadroch" git="Evheniiyadroch@gmail.com">
                <img src="./images/team/IgorKlyopovMini.png" alt="Misha Krasnonos" git="e-mail">
                <img src="./images/team/IgorKlyopovMini.png" alt="YevhenTsilenko" git="e-mail">
                <img src="./images/team/IgorKlyopovMini.png" alt="Natalia Yurchenko" git="e-mail">
            </div>
            <ul class="team-members-list"> <!--will be constructed in .js-->
            </ul>
		</div>
	</div>

<!-- this should be included in index.html -->
<script src="./js/modal.js"></script>
