<header class="header">
  <div class="container">
    <div class="header-content-wrap">
      <a href="/" class="link navigation-link logo">
        <svg class="logo-icon" width="24" height="24">
          <use href="./images/sprite.svg#icon-logo"></use>
        </svg>
        <span class="logo-text">Filmoteka</span>
      </a>
      <nav class="navigation">
        <ul class="list navigation-list">
          <li class="navigation-item">
            <a class="link navigation-link home js-btn-home active-navigation" href="/">Home</a>
          </li>
          <li class="navigation-item">
            <a class="link navigation-link my-library js-btn-my-library" href="/library">My library</a>
          </li>
        </ul>
      </nav>
    </div>
    <form class="search-movie-form">
      <div class="search-movie-input-wrap">
        <label class="search-movie-label">
          <span class="visually-hidden">Movie search</span>
          <input type="text" name="query" class="search-movie-input" placeholder="Поиск фильмов" autocomplete="off" />
        </label>
        <button type="submit" class="search-movie-button">
          <svg class="search-icon" width="12" height="12">
            <use href="./images/sprite.svg#icon-search"></use>
          </svg>
        </button>
      </div>
    </form>
    <p class="search-error-message"></p>
    <ul class="list library-nav-list visually-hidden">
      <li class="library-nav-item">
        <a class="link library-nav-button watched">Watched</a>
      </li>
      <li class="library-nav-item">
        <a class="link library-nav-button queue">Queue</a>
      </li>
    </ul>
    <include src="./partials/theme-switch.html"></include>
    <div class="library-nav-item theme-switch-container">
        
      
  </div>
</header>