<header class="header">
  <div class="container">
    <div class="header-content-wrap">
      <a href="index.html" class="link logo">
        <svg class="logo-icon" width="24" height="24">
          <use href="./images/sprite.svg#icon-logo"></use>
        </svg>
        <span class="logo-text">Filmoteka</span>
      </a>
      <nav class="navigation">
        <ul class="list navigation-list">
          <li class="navigation-item">
            <a class="link navigation-link home" href="/">Home</a>
          </li>
          <li class="navigation-item">
            <a class="link navigation-link my-library" href="/library">My library</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="search-movie-form-container">

    </div>

  </div>
</header>