<!-----------------------MODAL----------------------->

<div class="film-backdrop" data-modal>
  <div class="film-modal">
    <button type="button" class="btn-modal-close" data-modal-close>
      <svg class="icon-close" width="18" height="18">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <div class="modal-form">
      <img class="lightbox__image" src="./images/demo.jpg" alt="" width="100px" height="100px" />
      <h1 class="film-name">Name of the film</h1>
      <span class="lightbox-about">about</span>
      <p class="film-description">film description</p>
      <button class="button basic-button button-add-to-watched" type="button">
        add to watched
      </button>
      <button class="button button-add-to-queue" type="button">add to queue</button>
    </div>
  </div>
</div>
