.button {
  cursor: pointer;
  outline: none;
  border: none;
}

.basic-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--basic-light-text-color);
  background-color: var(--primary-accent-color);

  &:focus,
  &:hover {
    background-color: var(--secondary-accent-color);
  }
}

.hero-slider-show-buttons-wrap {
  position: absolute;
  bottom: 4%;
  right: 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 108px;

  @include adaptive-for-tablet {
    width: 172px;
    bottom: 25%;
    right: 3%;
  }

  @include adaptive-for-tablet {
    bottom: 15%;
    right: 6%;
  }
}

.hero-slider-show-button {
  position: relative;
  z-index: 2;
  width: 30px;
  height: 30px;
  color: var(--basic-light-text-color);
  background-color: transparent;
  border-radius: 50%;
  border: 3px solid var(--basic-light-text-color);

  @include adaptive-for-tablet {
    width: 45px;
    height: 45px;
  }
}

.hero-slider-button-icon-arrow {
  position: absolute;
  display: block;
  width: 34px;
  height: 16px;
  fill: currentColor;
  &.left {
    top: 16%;
    left: 25%;
  }
  &.right {
    top: 16%;
    right: 25%;
  }

  @include adaptive-for-tablet {
    width: 50px;
    height: 25px;
  }
}
