.card-library {
  width: 280px;
  height: 440px;
  @include adaptive-for-tablet {
    width: 293px;
  }
  @include adaptive-for-desktop {
    width: 274px;
  }
}
.img-card-library {
  background: url('../images/demo.png');
  text-indent: -10000px;
  height: 398px;
  width: 280px;
  border-radius: 5px;
  @include adaptive-for-tablet {
    width: 293px;
  }
  @include adaptive-for-desktop {
    width: 274px;
  }
}
.movie-information {
  margin-top: 10px;
  max-width: 274px;
  height: 32px;
}
.movie-name {
  margin: 0;
  text-transform: uppercase;
  font-size: 12px;
}
.generes-rating {
  display: flex;
}
.genres {
  margin: 0;
  color: var(--primary-accent-color);
}

.rating-container {
  margin-left: 10px;
  width: 36px;
  height: 16px;
  background: var(--primary-accent-color);
  border-radius: 5px;
}
.rating {
  display: flex;
  justify-content: center;
  color: var(--secondary-text-color);
  font-style: normal;
  font-weight: var(--medium-font-weight);
  align-items: center;
}
.js-gallery-library {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 30px;
}
.movie-date {
  opacity: 0;
}
