.card-library {
  position: relative;
  cursor: pointer;
  width: 280px;
  height: 440px;
  @include adaptive-for-tablet {
    width: 293px;
  }
  @include adaptive-for-desktop {
    width: 274px;
  }
}

.img-card-library {
  background: url('../images/demo.png');
  text-indent: -10000px;
  height: 398px;
  width: 280px;
  border-radius: 5px;
  @include adaptive-for-tablet {
    width: 293px;
  }
  @include adaptive-for-desktop {
    width: 274px;
  }
}
.movie-information {
  margin-top: 10px;
  max-width: 274px;
  height: 32px;
}
.movie-name {
  margin: 0;
  text-transform: uppercase;
  font-size: 12px;
}
.generes-rating {
  display: flex;
}
.genres {
  margin: 0;
  color: var(--primary-accent-color);
}

.rating-container {
  margin-left: 10px;
  width: 36px;
  height: 16px;
  background: var(--primary-accent-color);
  border-radius: 5px;
}
.rating {
  display: flex;
  justify-content: center;
  color: var(--secondary-text-color);
  font-style: normal;
  font-weight: var(--medium-font-weight);
  align-items: center;
}
.js-gallery-library {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 30px;
}
.movie-date {
  opacity: 0;
}
.empty-library-massage {
  font-style: normal;
  opacity: 0.6;
  text-shadow: 2px 2px 5px rgb(255, 102, 0);
  font-size: 20px;
  font-weight: var(--medium-font-weight);
  text-align: center;
}

.closeCard {
  position: absolute;
  border: 1px solid;
  // width: 40px;
  color: rgb(255, 255, 255);
  top: -2%;
  left: 94%;
  width: 27px;
  height: 27px;
  border-radius: 50% 50%;
  cursor: pointer;
  background-color: #ff9318;
  box-shadow: 8px 2px 5px rgb(154 147 140 / 70%), 1px 1px 5px rgb(255, 123, 0);
}

.closeCard:hover {
  color: rgb(0, 0, 0);
  background-color: #ff0000;
  box-shadow: 4px 2px 5px rgb(154 147 140 / 90%), 1px 1px 5px rgb(255, 0, 0);
}
