.mask {
  width: 100%;
  height: 100%;
  background: white;
  position: fixed;
  top: 0;
  z-index: 100;
  transition: 0.6s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 75px;
  height: 75px;
  border: 10px solid rgba(84, 84, 84, 0.6);
  border-radius: 50%;
  border-left-color: var(--footer-text-color);
  animation: loader 1.3s linear infinite;

  @keyframes Loader {
    100% {
      transform: rotate(360deg);
    }
  }
}
