.back_to_top {
  width: 67px;
  height: 67px;
  position: fixed;
  bottom: 80px;
  right: 40px;
  z-index: 9;
  cursor: pointer;
  display: none;
  transition: var(--hover-focus-transition);
  stroke: var(--primary-accent-color);
  fill: none;
  border: none;
}

.back_to_top:hover {
  fill: var(--primary-accent-color);
  stroke: var(--primary-bg-color);
}

.back_to_top-show {
  display: block;
}

.arrow-icon {
  stroke: inherit;
  fill: inherit;
}
