.content-page-container {
  padding: 20px 0 40px;

  @include adaptive-for-tablet {
    padding: 60px 0;
  }
}

.content-page-status {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: var(--bold-font-weight);
  font-size: 14px;
  line-height: 1.167;
  color: var(--secondary-accent-color);
  text-transform: uppercase;
  text-align: center;
}
