.modal-movie-card {
  z-index: 20;
  display: none;
}

.body-scroll-none {
  overflow: hidden;
}

.modal-movie-card-visible {
  display: block;
}

.movie-backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity var(--hover-focus-transition), visibility var(--hover-focus-transition);
  visibility: visible;
}

.modal-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 90%;
  width: 90%;
  z-index: 30;
  @media screen and (min-width: 768px) {
    max-width: 618px;
    max-height: 562px;
    overflow-x: hidden;
  }
  @media screen and (min-width: 1024px) {
    max-height: 568px;
    max-width: 882px;
  }
  pointer-events: none;
}

.movie-modal {
  position: absolute;
  padding: 48px 20px 41px 20px;
  @media screen and (min-width: 768px) {
    padding: 42px 30px 40px 28px;
  }

  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);

  background: var(--secondary-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform var(--transition-timing-function);
  transform: translate(-50%, -50%) rotate(1turn);
  height: 90%;
  width: 90%;
  overflow-y: scroll;

  @media screen and (min-width: 768px) {
    max-width: 618px;
    max-height: 562px;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  @media screen and (min-width: 1024px) {
    max-height: 568px;
    max-width: 882px;
    overflow-y: hidden;
  }
}

.movie-content {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    align-items: flex-start;
  }
}

.movie-image {
  border-radius: 5px;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    width: 264px;
    height: 373.55px;
  }
  @media screen and (min-width: 1024px) {
    width: 396px;
    height: 477.8px;
  }
}

.modal-movie-name {
  font-size: 20px;
  line-height: 115%;
  margin-bottom: 20px;

  @media screen and (min-width: 1024px) {
    font-size: 30px;
    line-height: 116%;
  }
}

.movie-details-lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.movie-info {
  @media screen and (min-width: 768px) {
    margin-left: 32px;
  }
}

.movie-info-titles,
.movie-info-values {
  margin: 0;
  padding: 0;
}

.movie-info-titles li,
.movie-info-values li {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  list-style: none;
  @media screen and (max-width: 767px) {
    font-size: 12px;
  }
  font-size: 10px;

  @media screen and (min-width: 1024px) {
    font-size: 12px;
  }
}

.movie-info-titles li {
  color: var(--film-card-text-color);
}

.movie-original-title-value {
  max-width: 107px;
  max-height: 15px;

  @media screen and (min-width: 768px) {
    max-width: 190px;
  }
}

.modal-movie-name,
.movie-original-title-value,
.movie-about-title {
  text-transform: uppercase;
}

.modal-movie-name {
  line-height: 117%;
}

.movie-rating {
  height: 15px;
}

.movie-info-values {
  list-style: none;
  margin-left: 20px;

  @media screen and (min-width: 320px) {
    margin-left: 32px;
  }
  @media screen and (min-width: 1024px) {
    margin-left: 83px;
  }
}

.modal-votes {
  display: inline-block;
  margin-left: 5px;
  background: #f7f7f7;
  border-radius: 5px;
}

.votes-separator {
  color: var(--film-card-text-color);
}

.movie-btn-container {
  display: flex;
  justify-content: space-between;
  @media screen and (min-width: 1024px) {
    justify-content: flex-start;
  }
}

.basic-button {
  text-transform: uppercase;
}

.remove-from-queue-btn,
.remove-from-watched-btn,
.add-to-watched-btn,
.add-to-queue-btn {
  &:hover {
    color: var(--secondary-text-color);
    background-color: var(--primary-accent-color);
    border: transparent;
  }

  width: 112px;
  height: 44px;
  border: solid 1px var(--primary-text-color);
  border-radius: 5px;
  text-transform: uppercase;
  background-color: var(--primary-bg-color);

  @media screen and (max-width: 319px) {
    font-size: 10px;
  }
  @media screen and (min-width: 768px) {
    width: 125px;
  }
  @media screen and (min-width: 1024px) {
    width: 136px;
  }
}

.add-to-watched-btn {
  padding-left: 10px;
  padding-right: 10px;
}

.remove-from-queue-btn,
.add-to-queue-btn {
  color: var(--primary-text-color);
  border: solid 1px var(--primary-text-color);
  margin-left: 15px;
}

.modal-button-close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  right: 18px;
  z-index: 20;
  outline: none;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  pointer-events: all;

  width: 30px;
  height: 30px;
}

.close-icon {
  stroke: var(--primary-text-color);
  transition: stroke var(--hover-focus-transition);
  &:hover,
  &:focus {
    stroke: var(--primary-accent-color);
  }
}

.movie-description {
  line-height: 166%;
  margin-bottom: 20px;
}

.modal-vote {
  display: inline-block;
  text-align: center;
  padding-top: 2px;
  width: 36px;
  height: 16px;
  border-radius: 5px;
  background-color: var(--primary-accent-color);
  color: var(--secondary-text-color);
}

.modal-movie-content {
  color: var(--primary-text-color);
}
