.movies {
    padding-top: 20px;
    padding-bottom: 20px;

    @include adaptive-for-tablet {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.movies-list {
    display: grid;
    grid-template-columns: 280px;
    grid-template-rows: 440px;
    grid-gap: 20px;
    justify-content: center;

    @include adaptive-for-tablet {
        grid-template-columns: repeat(2, 293px);
        grid-gap: 30px;
    }


    @include adaptive-for-desktop {
        grid-template-columns: repeat(3, 274px);
    }

}